:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
  --font: "Kumbh Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* pdar card  */
body {
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  flex-direction: column;
  padding: 15px;
}
.bottom-pattern {
  max-width: 100rem;
  position: fixed;
  bottom: -600px;
  right: -200px;
}
.top-pattern {
  position: fixed;
  top: -500px;
  left: -300px;
  max-width: 100rem;
}
img{
  max-width: 100%;
}
.card {
  position: relative;
  min-height: 300px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  z-index: 1000;
  
}
svg{

}
.img-back img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.img-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.img-user > img {
  border-radius: 50%;
  border: 2px solid #fff;
}
.info {
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info h2 {
  font-size: 1.4rem;
  font-family: var(--font);
  margin-bottom: 0.5rem;

  color: var(--Very-dark-desaturated-blue);
}
.info span {
  color: var(--Dark-gray);
  margin-left: 0.3rem;
}
.info p {
  color: var(--Dark-gray);
}

.statis {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-top: 1px solid var(--Dark-cyan);
  height: 100px;
}
.statis-inf h3 {
  color: var(--Very-dark-desaturated-blue);
}
.stat-app {
  color: var(--Dark-gray);
  font-size: 0.9rem;
  font-weight: 400;
}

@media only screen and (max-width: 350px) {
  body {
    padding: 15px;
    flex-direction: column;
  }
  .bottom-pattern,.top-pattern {
    max-width: 500px;
  }
  
.bottom-pattern {
  
  bottom: -250px;
  right:-250px;
}
.top-pattern {

  top: -250px;
  left: -250px;
 
}
}
